/* @import-normalize; */

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: rgb(0, 255, 191);
    border-radius: 8px;
    padding-top: 20px;
    width: 400px;
    margin: 10px auto 50px auto;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 100px;
}

.name {
    color: black;
    font-size: 24px;
    margin-top: 15px;
}

.tag,
.location {
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.stats {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: calc(100% / 3);
    background-color: rgb(255, 123, 123);
}

.label {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    font-size: 12px;
}

.quantity {
    font-weight: bold;
    color: black;
    font-size: 14px;
}